body {  
    margin: 0;  
    background: #e6e6e6;  
}  

.showSlide {  
    display: none  
}  

.showSlide img {  
    width: 100%;  
}  

.buttons {
    height: 30px;
    background-color:ivory;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    border: black solid 1px;
    margin: 5px;
}

.slidercontainer {  
    max-width: 1000px;
    position: relative;  
    margin: auto;  
}  

.slidercounter {
    position: absolute;
    color: #eff5d4; 
    top: 20px;
    left: 20px;
    font-size: 1.25rem;
}

.left, .right {  
    cursor: pointer;  
    position: absolute;  
    top: 50%;  
    width: auto;  
    padding: 16px;  
    margin-top: -22px;  
    color: white;  
    font-weight: bold;  
    font-size: 18px;  
    transition: 0.6s ease;  
    border-radius: 0 3px 3px 0;  
}  

.right {  
    right: 0;  
    border-radius: 3px 0 0 3px;  
}  

.left:hover, .right:hover {  
    background-color: rgba(115, 115, 115, 0.8);  
}  

.content {  
    color: #eff5d4;  
    font-size: 30px;  
    padding: 8px 12px;  
    bottom: 10px;  
    width: 100%;  
    position: absolute;
    text-align: center;  
}  
.active {  
    background-color: #717171;  
}  

.fade {  
    animation-name: fade;  
    animation-duration: 0.3s;  
}  

@keyframes fade {  
    from {  
        opacity: .4  
    }  
    to {  
        opacity: 1  
    }  
}  